:root {
  position: relative;
  width: 100vw;
  height: 100vh;
  color-scheme: light dark;
  /* color: rgba(255,255,255,0.87); */
  background-color: #aaaaaa;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100vw;
  min-height: 100vh;
}
